<h1>All Tasks</h1>
<table>
  <tr>
    <th>title</th>
    <th>description</th>
  </tr>
<% @tasks.each do |task| %>
<tr>
  <td><a href="/tasks/<%= task.id %>"><%= task.title %></></a></td>
  <td><%= task.description %></td>
  <td><a href="/tasks/<%= task.id  %>/edit">Edit</a></td>
  <td><form action="/tasks/<%= task.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form></td>
</tr>

<% end %>
</table>